header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body{
    background-image: url(pattern.jpg);
    margin: 0px;
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin-right: 17px;
}

a{
    text-decoration: none;
}

main{
    background-color: lightgray;
    margin: 8% 10% 5% ;
    padding: 20px;
}

h1{
    text-align: center;
    color: darkslategray;
}

h3{
    color: black;
}

article{
    border-top: 4px solid grey;
    margin-bottom: 20px;
}

footer{
    background-color: black;
    padding: 15px;
}

h4{
    color: white;
    text-align: center;
}