@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Poppins:wght@500&display=swap');

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

body{
    margin: 0px;
    background-image: url(../img/pattern.jpg);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}

li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

section{
    margin: 90px 100px 30px;
    background-color: white;
    padding: 30px;
}

article{
    border-bottom: 3px solid black;
    margin-top: 10px;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h5{
    text-align: center;
    color: white;
}

footer{
    background-color: grey;
    padding: 10px;
}